discord.py==1.7.3
git+https://github.com/FUFSoB/bashlex
motor
pwntools
distro
googletrans==4.0.0-rc1
rstr
emojis
sympy
pympler
regex
ujson
jikanpy
selenium
aiodns
youtube-dl
aiostream
pykakasi
pylast
youtube_title_parse
parse
legacy-cgi
